# Stuff Lending Test Report
Document the results of your final system test below. You find instructions on the course homepage.

General note: The requirements did not ask to view the member ID and therefore the application did not view member ID. Same with  the phone number, you have to enter a 10 didgit mobil number to get validated.

| Case | Result             | Note |
|------|---------------------------|------------------|
| 5.1 | OK  |    |  
| 5.1.1 | OK |    |
| 5.1.2 | OK | She had 500, but when M2 borrowed an item from her she gaind 30.    |
| 5.1.3 | OK |    |
| 5.1.4 | NOT OK | The contract starts on day 0 and ends on day 2   |

| Case | Result             | Note |
|------|---------------------------|------------------|
| 1.1 | OK |    |
| 1.1.1 | OK  |
| 1.1.2 | NOT OK |    |
| 1.1.3 | OK  |    |


| Case | Result             | Note |
|------|---------------------------|------------------|
| 1.2 | OK |    |
| 1.2.1 |  OK |   |
| 1.2.2 | NOT OK |    |
| 1.2.3 | NOT OK | Email is not unique   |
| 1.2.4 | OK |    |
| 1.2.5 | NOT OK  | Phone number is not unique   |
| 1.2.6 | OK |    |
| 1.2.7 | OK |    |
| 1.2.8 | NOT OK |    |
| 1.2.9 | OK |    |

| Case | Result             | Note |
|------|---------------------------|------------------|
| 1.3 |OK  |    |
| 1.3.1 | OK |    |
| 1.3.2 | OK |    |
| 1.3.3 | OK |    |
| 1.3.4 | OK |    |
| 1.3.5 | OK |    |
| 1.3.6 | OK |    |
| 1.3.7 | OK |    |

| Case | Result             | Note |
|------|---------------------------|------------------|
| 2.1 | OK |    |
| 2.1.1 | OK |    |
| 2.1.2 | OK |    |
| 2.1.3 | OK |    |

| Case | Result             | Note |
|------|---------------------------|------------------|
| 2.2 | OK |    |
| 2.2.1 | OK |    |
| 2.2.2 | OK |    |
| 2.2.3 | OK |    |

| Case | Result             | Note |
|------|---------------------------|------------------|
| 2.3 | OK |    |
| 2.3.1 | OK |    |
| 2.3.2 | OK |    |
| 2.3.3 | OK |    |
| 2.3.4 | NOT OK | The contract was cancelled, but the item is still lent out and the borrower has to pay.     |


| Case | Result             | Note |
|------|---------------------------|------------------|
| 3.1 | OK | Day count was incrased to day 3 and then the item was borrowed for 3 days.   |
| 3.1.1 | OK |    |
| 3.1.2 | OK |    |


| Case | Result             | Note |
|------|---------------------------|------------------|
| 3.2 | OK |    |
| 3.2.1 | OK |    |
| 3.2.2 | OK |    |


| Case | Result             | Note |
|------|---------------------------|------------------|
| 3.3 | OK |    |
| 3.3.1 | OK | Tried to create a contract from today (since that is our default).   |
| 3.3.2 | OK |    |


| Case | Result             | Note |
|------|---------------------------|------------------|
| 4.1 | OK |    |
| 4.4.1 | OK |    |
| 4.4.2 | OK |    |
